[flake8]
exclude =
    migrations
    __pycache__
    .github
    env
    .env
    .venv
    .vscode
# Ignore style and complexity
# E: style errors
# W: style warnings
# C: complexity
# D: docstring warnings (unused pydocstyle extension)
ignore = E, C, W, D, E203, E231, E266, E501, W503, F401, F403, F821, F841
max-line-length = 200
